@media (max-width: 1199.98px) { 

}

@media (max-width: 991.98px) { 
    section.team-area .all-members .single-member {
        margin-bottom: 20px;
    }

}

@media (max-width: 767.98px) { 
    .header-top-left {
        display: flex;
        justify-content: center;
    }

    .header-top-right {
        display: flex;
        justify-content: center;
    }

    .single-slider {
        width: 50%;
    }

    section.slider-area .single-slider h1 {
        font-size: 30px;
    }

    section.slider-area .single-slider p {
        font-size: 12px !important;
        line-height: 20px;
    }

    section.about-area .section-heading h2 {
        font-size: 25px;
    }

    .about-area .about-left {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(211, 211, 211, 0.445);
    }

    .about-area .about-left .about-heading {
        text-align: center;
    }

    .about-area .about-right {
        margin-top: 30px;
    }

    .about-area .about-right .about-heading {
        text-align: center;
    }

    .all-services .single-service p {
        font-size: 12px;
        line-height: 15px;
    }
    
    .all-services .single-service h4 {
        font-size: 16px;
        font-weight: 700;
    }

}

@media (max-width: 575.98px) { 
    .header-top-right {
        display: none;
    }

    section.slider-area .single-slider h1 {
        font-size: 18px;
    }

    section.slider-area .single-slider p {
        font-size: 8px !important;
        line-height: 20px;
    }

    section.notice-area .card-header h2 {
        font-size: 15px;
    }

    section.notice-area .card-body marquee {
        font-size: 12px;
    }

    .about-area .about-left .about-heading h4 {
        font-size: 20px !important;
    }

    .about-area .about-right .about-heading h4 {
        font-size: 20px;
    }

    section.service-area .section-heading h2 {
        font-size: 20px;
    }
    section.service-area .section-heading p {
        font-size: 10px;
        line-height: 22px;
    }

    section.team-area .section-heading h2 {
        font-size: 20px;
    }
    section.team-area .section-heading p {
        font-size: 10px;
        line-height: 22px;
    }

    section.gallery-area .section-heading h2 {
        font-size: 20px;
    }
    section.gallery-area .section-heading p {
        font-size: 10px;
        line-height: 22px;
    }

}
